{{ $BannerImg := .Resources.GetMatch "banner" }}
{{ if $BannerImg }}
{{ .Scratch.Set "pageThumbnail" ($BannerImg.Fit "800x200") }}
{{ .Scratch.Set "pageBanner" ($BannerImg.Fit "1280x400") }}
{{ end }}
{{ partial "head.html" . }}

<body>
<div id="container">
    {{ partial "header.html" . }}
    {{ with .Scratch.Get "pageBanner" }}
      <img src="{{ .Permalink }}" class="article-banner"/>
    {{ end }}

    <section id="main" class="outer">
        {{ partial "article.html" . }}
        {{ if and (not .Params.nocomment) .Site.Params.disqusShortname }}
            {{ template "_internal/disqus.html" . }}
        {{ end }}
    </section>
    {{ partial "footer.html" . }}
</div>
</body>
</html>
